<!doctype html>
<html>
<head>
  <title>Who win F1 2015</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <script src="bower_components/webcomponentsjs/webcomponents.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <link rel="import" href="bower_components/polymer/layout.html">
  <link rel="import" href="bower_components/core-icons/core-icons.html">
  <link rel="import" href="bower_components/core-toolbar/core-toolbar.html">
  <link rel="import" href="bower_components/font-roboto/roboto.html">
  <link rel="import" href="bower_components/paper-button/paper-button.html">
  <link rel="import" href="bower_components/paper-tabs/paper-tabs.html">
  <link rel="import" href="bower_components/paper-progress/paper-progress.html">

  <link rel="stylesheet" href="styles.css">
</head>

<body unresolved ng-app="myapp">
  <core-toolbar class="medium-tall">
    <!--!
    <paper-icon-button icon="menu" role="button" tabindex="0" aria-label="menu"></paper-icon-button>
    !-->
    <div flex="">Who Will Win F1</div>
    <!--!
    <paper-icon-button icon="search" role="button" tabindex="0" aria-label="search"></paper-icon-button>
    <paper-icon-button icon="more-vert" role="button" tabindex="0" aria-label="more-vert"></paper-icon-button>
    !-->
    <div class="bottom fit" horizontal="" layout="">

      <paper-tabs selected="0" flex="" role="tablist" horizontal="" center="" layout="">

        <paper-tab role="tab" inline="" flex="" center-center="" horizontal="" layout="" class="core-selected" active="">Drivers</paper-tab>
        <paper-tab role="tab" inline="" flex="" center-center="" horizontal="" layout="">Constructors</paper-tab>

      </paper-tabs>

    </div>

  </core-toolbar>

  <core-pages selected="0">

    <div ng-controller="Constructors">
      <paper-shadow z="1">
        <table layout>
          <tr>
            <th></th>
            <th>Team</th>
            <th class="prob">points</th>
          </tr>
          <tbody ng-repeat="team in resultados">
          <tr>
            <th class="dorsal">
              <span class="{{team.Constructor.constructorId}}"></span></th>
            <td class="nombre">
              {{team.Constructor.name}}</td>
            <td class="prob">
              {{team.points}}</td>
          </tr>
          <tr>
            <td colspan="3">
              <!--!<paper-progress value="{{piloto.points / resultados[0].points * 100}}"></paper-progress>!-->
              <paper-progress value="{{a(team.points)}}"
                              secondaryProgress="{{b(team.points)}}"
                              class="{{prob(team.points)}}"></paper-progress>
            </td>
          </tr>
          <tr>
          </tr>
          </tbody>
        </table>
      </paper-shadow>
    </div>

    <div ng-controller="Drivers">
      <paper-shadow z="1">
        <table layout>
          <tr>
            <th></th>
            <th>Piloto</th>
            <th class="prob">puntos</th>
          </tr>
          <tbody ng-repeat="piloto in resultados">
          <tr>
            <th class="dorsal">
              <span class="{{piloto.Constructors[0].constructorId}}">{{piloto.Driver.permanentNumber}}</span></th>
            <td class="nombre">
              {{piloto.Driver.givenName}} {{piloto.Driver.familyName}}</td>
            <td class="prob">
              {{piloto.points}}</td>
          </tr>
          <tr>
            <td colspan="3">
              <!--!<paper-progress value="{{piloto.points / resultados[0].points * 100}}"></paper-progress>!-->
              <paper-progress value="{{a(piloto.points)}}"
                              secondaryProgress="{{b(piloto.points)}}"
                              class="{{prob(piloto.points)}}"></paper-progress>
            </td>
          </tr>
          </tbody>
        </table>
      </paper-shadow>
    </div>

  </core-pages>


  <script src="main.js"></script>
</body>
</html>
