
body {
  font-family: RobotoDraft, sans-serif;
  color: #333;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

section {
  margin: 20px;
}

a, a:hover {
  text-decoration: none;
}

core-toolbar {
  background-color: #222;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 1.5em;
}

paper-button {
  margin: 0.5em 1em 0.5em 0;
  width: 10em;
}

paper-button[right] {
  position: fixed;
  right: 0;
}

paper-checkbox {
  margin-left: 1em;
}

paper-fab {
  position: absolute !important;
  top: 35px;
  right: 1em;
  z-index: 1;
}

paper-tabs {
  background-color: #222;
  color: #fff;
}

paper-tabs[noink][nobar] paper-tab.core-selected {
  color: #d31411;
}
paper-shadow {
  max-width: 800px;
  margin:auto;
}
paper-progress {
  display: block;
  width: auto;
  padding: 0 0 15px;
}
paper-progress::shadow #progressContainer {
  background-color: #eee;
}
paper-progress.eliminado::shadow #activeProgress {
  background-color: #c00;
}
paper-progress::shadow #secondaryProgress {
  opacity: .5;
}
table {
  width: 100%;
}
td, th {
  text-align: left;
  padding: 15px 15px 0;
}
.dorsal {
  width:10%;
}
.nombre {

}
.prob {
  text-align:right;
  width:10%;
}
.dorsal span {
  display: inline-block;
  width:32px;
  height:32px;
  line-height:32px;
  text-align:center;
  border-radius: 50%;
  background: #eee;
  border: 4px solid #666;
  color: #c00;
}
.dorsal .red_bull {
  background-color:#036;
  border-color:#c00;
  color:#fc0;
}
.dorsal .ferrari {
  background-color:#c00;
  border-color:#333;
  color:#fff;
}
.dorsal .mclaren {
  background-color:#ccc;
  border-color:#c00;
  color:#333;
}
.dorsal .mercedes {
  background-color:#ccc;
  border-color:#333;
  color:#396;
}
.dorsal .lotus_f1 {
  background-color:#333;
  border-color:#c00;
  color:#fc0;
}
.dorsal .williams {
  background-color:#fff;
  border-color:#039;
  color:#c00;
}
.dorsal .force_india {
  background-color:#333;
  border-color:#f60;
  color:#999;
}
.dorsal .sauber {
  background-color:#09c;
  border-color:#fc0;
  color:#fff;
}
.dorsal .toro_rosso {
  background-color:#024;
  border-color:#900;
  color:#960;
}
.dorsal .manor {
  background-color:#fff;
  border-color:#000;
  color:#000;
}